body {
    font-family: 'Lato', sans-serif;
    background-color: #fdfefe;
    color: #0f0f0f;
    height: 100%;
}

#cy {
    margin: auto;
    width: 90%;
    height: 500px;
    display: block;
}

.link {
    color: red !important;
    -moz-text-decoration-color: red !important;
    text-decoration-color: red !important;
}

.title {
    font-size: 500%;
    font-weight: bold;
}

.secondaryTitle {
    font-size: 200%;
}

.titleList {
    list-style-type: none;
    display: inline;
}

.titleListElement {
    color: red !important;
    display: block;
    padding: 1px;
}

footer {
    padding: 0px;
}

.heading {
    height: 100%;
}
